/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/*
/vendor
/html
/public/css
/public/js
/public/media
/public/fonts
/public/plugins
/public/mix-manifest.json
/bootstrap/cache
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
.php_cs.cache
settings.json
/composer.lock
/package-lock.json
.DS_Store
*.dev.js
*.lock
/storage/framework/cache/data/36/ce/36cee48aae828dba62b3dab771abcdd210e9ce5d
/storage/framework/cache/data/52/ac/52acebe9de48b9434598fa65d2ec8d0e111e90b0
/storage/framework/cache/data/70/d5/70d5789fb8fa04f157e2f175d8e9158bc3d2b5c6
/public/build/assets/classnames-AtT6GPTx.js
