@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black;
    @apply dark:bg-black dark:text-white;
  }
  html[lg="vn"] {
    body {
      // @apply font-robo;
      .font-sans {
        font-family: "Roboto",'Satoshi','sans-serif','ui-sans-serif' !important;
      }
    }
  }
}
//=========== scroll ============
.scrollbar {
    scrollbar-color: #cbd5e1 transparent;
    scrollbar-width: thin
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    background-color: transparent;
    border-radius: 10px
}

.scrollbar::-webkit-scrollbar {
    background-color: transparent;
    width: 6px
}

.scrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: none;
    background-color: #cbd5e1;
    border-radius: 10px
}

.scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #c1cad6
}

